body{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

#myCanvas{
   
    background-color: white;
}

#toolBar{
    border: 1px solid;
    background-color: rgba(137, 43, 226, 0.404);
    width: 270px;
    height: 720px;
}

#tempCanvas{
    position: absolute;
    top :0px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#container{
    display: flex;
}

.tool{
    
    width: 70px;
    height: 70;
   
}

.selected{
    background-color:rgba(39, 10, 66, 0.884);
    
}

#color_plateR{
    -webkit-appearance: none;
    overflow:hidden;     /* 限定範圍 */
    width:200px;
    height:20px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background: -webkit-linear-gradient(left,black,red);
  }

#color_plateG{
    -webkit-appearance: none;
    overflow:hidden;     
    width:200px;
    height:20px;
    outline : none;      
    background: -webkit-linear-gradient(left,black,green);
  }
  h6{
      padding-right: 3px;
  }

  #color_plateB{
    -webkit-appearance: none;
    overflow:hidden;     
    width:200px;
    height:20px;
    outline : none;     
    background: -webkit-linear-gradient(left,black,blue);
  }
